body{
  background-color: lightgrey;

}

header{
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
}
ul{
  margin: 0;
}

nav{
  background-color: green;
  align-content: center;
  text-align: center;
}

nav li{
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 50px;


}

nav li a:link{
  color: white;
  text-decoration: none;
}

div #content{
  background-color: grey;
  margin: 0;
  padding: 5px;
}
div #content ul{
  text-align: center;
}

ul{
  list-style: none;
}

aside ul{
  list-style:circle;
}

aside{
  float: right;
  background: white url("http://www.literarygenius.info/images/william-shakespeare.jpg") no-repeat center;
  background-size: 100px;
  height: 418px;
  padding: 5px;

}

footer{
  /* position: absolute; */
  background-color: green;
  margin: 0px;
  padding: 5px;
}

footer p{
  padding-left: 5px;
}

h1{
  margin: 0px;
}
